<div class="container">
    <div class="listClients">
        <h2 class="title">Clientes</h2>
        <table class="tabla">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes; let i=index;" (click)="RowSelected(cliente);" class="columna">
                    <th scope="row" class="registro">{{cliente.id}}</th>
                    <td class="registro">{{cliente.nombre}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="listLigth">
        <app-semaforo [semaforos]="semaforos" [clienteId]="clienteId" [servidorId]="servidorId"></app-semaforo>
    </div>
</div>
