<div>
    <h2 class="title">Semaforos</h2>
    <div class="container">
        <div class="semaforo" *ngFor="let semaforo of semaforos">
            <div class="cajaSemaforo">
                <div 
                    [ngClass]="{verde: semaforo.luzVerde.estado, disable:!semaforo.luzVerde.estado}" 
                    class="circulo"
                    (click)="eventoCambioLuz(semaforo.luzVerde.estado,'verde',semaforo);"
                ></div>
                <div 
                    [ngClass]="{amarillo: semaforo.luzAmarilla.estado, disable:!semaforo.luzAmarilla.estado}"
                    class="circulo"
                    (click)="eventoCambioLuz(semaforo.luzAmarilla.estado,'amarilla', semaforo);"
                ></div>
                <div 
                    [ngClass]="{rojo: semaforo.luzRoja.estado, disable:!semaforo.luzRoja.estado}" 
                    class="circulo"
                    (click)="eventoCambioLuz(semaforo.luzRoja.estado,'roja', semaforo);"
                >
                </div>
            </div>
            <div class="formulario">
                <label for="verde">Verde</label>
                <input type="text" id="verde" name="verde" disabled [value]="semaforo.luzVerde.cantidad">
                <label for="amarilla">Amarilla</label>
                <input type="text" id="amarilla" name="amarilla" disabled [value]="semaforo.luzAmarilla.cantidad">
                <label for="roja">Roja</label>
                <input type="text" id="roja" name="roja" disabled [value]="semaforo.luzRoja.cantidad">
            </div>
        </div>
    </div>
    
    <div>

    </div>
</div>
