<div class="container">
    <div class="listServer">
        <h2 class="title">Lista de Servidores</h2>
        <table class="tabla">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>PUERTO</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let servidor of servidores; let i=index;" (click)="RowSelected(servidor);" class="columna">
                    <th class="registro" scope="row">{{servidor.id}}</th>
                    <td class="registro">{{servidor.nombre}}</td>
                    <td class="registro">{{servidor.puerto}}</td>
                </tr>
            </tbody>            
        </table>
    </div>
    <div class="listClient">
        <app-clientes [clientes]="clientes" [servidorId]="servidorId"></app-clientes>
    </div>
</div>
